.venv/
程式碼/Dataset/
# 僅保留前 3 個分卷作為範例，其餘忽略
程式碼/Dataset_split/Dataset.zip.004
程式碼/Dataset_split/Dataset.zip.005
程式碼/Dataset_split/Dataset.zip.006
程式碼/Dataset_split/Dataset.zip.007
程式碼/Dataset_split/Dataset.zip.008
程式碼/Dataset_split/Dataset.zip.009
程式碼/Dataset_split/Dataset.zip.010
程式碼/Dataset_split/Dataset.zip.011
程式碼/Dataset_split/Dataset.zip.012
程式碼/Dataset_split/Dataset.zip.013
程式碼/Dataset_split/Dataset.zip.014
程式碼/Dataset_split/Dataset.zip.015
程式碼/Dataset_split/Dataset.zip.016
程式碼/Dataset_split/Dataset.zip.017
程式碼/Dataset_split/Dataset.zip.018
程式碼/Dataset_split/Dataset.zip.019
程式碼/Dataset_split/Dataset.zip.020
程式碼/Dataset_split/Dataset.zip.021
程式碼/Dataset_split/Dataset.zip.022
程式碼/Dataset_split/Dataset.zip.023
程式碼/Dataset_split/Dataset.zip.024
程式碼/Dataset_split/Dataset.zip.025
程式碼/Dataset_split/Dataset.zip.026
程式碼/Dataset_split/Dataset.zip.027
程式碼/Dataset_split/Dataset.zip.028
程式碼/Dataset_split/Dataset.zip.029
程式碼/Dataset_split/Dataset.zip.030
程式碼/Dataset_split/Dataset.zip.031
程式碼/Dataset_split/Dataset.zip.032
程式碼/Dataset_split/Dataset.zip.033
程式碼/Dataset_split/Dataset.zip.034
程式碼/Dataset_split/Dataset.zip.035
程式碼/Dataset_split/Dataset.zip.036
程式碼/Dataset_split/Dataset.zip.037
程式碼/Dataset_split/Dataset.zip.038
程式碼/Dataset_split/Dataset.zip.039
程式碼/Dataset_split/Dataset.zip.040
程式碼/Dataset_split/Dataset.zip.041
程式碼/Dataset_split/Dataset.zip.042
程式碼/Dataset_split/Dataset.zip.043
程式碼/Dataset_split/Dataset.zip.044
程式碼/Dataset_split/Dataset.zip.045
程式碼/Dataset_split/Dataset.zip.046
程式碼/Dataset_split/Dataset.zip.047
程式碼/Dataset_split/Dataset.zip.048
程式碼/Dataset_split/Dataset.zip.049
程式碼/Dataset_split/Dataset.zip.050
程式碼/Dataset_split/Dataset.zip.051
程式碼/Dataset_split/Dataset.zip.052
程式碼/Dataset_split/Dataset.zip.053
程式碼/Dataset_split/Dataset.zip.054
程式碼/Dataset_split/Dataset.zip.055
程式碼/Dataset_split/Dataset.zip.056
程式碼/Dataset_split/Dataset.zip.057
程式碼/Dataset_split/Dataset.zip.058
程式碼/Dataset_split/Dataset.zip.059
程式碼/Dataset_split/Dataset.zip.060
程式碼/Dataset_split/Dataset.zip.061
程式碼/Dataset_split/Dataset.zip.062
程式碼/Dataset_split/Dataset.zip.063
程式碼/Dataset_split/Dataset.zip.064
程式碼/Dataset_split/Dataset.zip.065
程式碼/Dataset_split/Dataset.zip.066
程式碼/Dataset_split/Dataset.zip.067
程式碼/Dataset_split/Dataset.zip.068
程式碼/Dataset_split/Dataset.zip.069
程式碼/Dataset_split/Dataset.zip.070
